@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Poppins';
    --primary-lighter: hsl(0deg,0%,100%);
    --primary: hsl(0deg,0%,100%);
    --primary-darker: hsl(0deg,0%,68%);
    
    --secondary-lighter: hsl(0deg,0%,50%);
    --secondary: hsl(0deg,0%,26%);
    --secondary-darker: hsl(0deg,0%,10%);

    --accent-lighter: hsl(183deg,100%,80%);
    --accent: hsl(183deg,100%,40%);
    --accent-darker: hsl(183deg,100%,20%);

    --text-primary: hsl(0deg,0%,41%);
    --line-height: 1.5em;
    --line-height-heading: 1.2em;

    --global-padding: 15vw;
}

/* Default styling */

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    line-height: var(--line-height);
    margin: 0;
    color: var(--text-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    font-weight: 400;
    line-height: var(--line-height-heading);
    margin: 0;
    color: var(--secondary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    object-fit: cover;
}

hr {
    width: 100%;
    border: 0px;
    height: 1px;
    background-color: var(--secondary-lighter);
    margin: 0;
}


/* headings */

.h-1 {
    font-size: 3rem;
    font-weight: 700;
}
.h-2 {
    font-size: 1.5rem;
    font-weight: 600;
}
.h-3 {
    font-size: 1.2rem;
    font-weight: 500;
}


/* buttons */

.button {
    padding: 1em 1.5em;
    border-radius: .5em;
    color: var(--accent);
    background-color: var(--secondary);
    border: 1px solid var(--accent);
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: var(--accent);
    color: var(--secondary);
}

.button.accent {
    color: var(--primary);
    background-color: var(--accent);
    border: 1px solid var(--accent);
}

.button.accent:hover {
    background-color: var(--accent-darker);
    border: 1px solid var(--accent-darker);
}

.button.disabled {
    color: var(--secondary-lighter);
    background-color: var(--primary-darker);
    cursor: not-allowed;
}


/* shadows */

.shadow-100 {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .01),
                0 4px 4px rgba(0, 0, 0, .02),
                0 8px 8px rgba(0, 0, 0, .04),
                0 12px 12px rgba(0, 0, 0, .08);
}
.shadow-200 {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .01),
                0 4px 4px rgba(0, 0, 0, .02),
                0 8px 8px rgba(0, 0, 0, .04),
                0 16px 16px rgba(0, 0, 0, .08);
}
.shadow-300 {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .01),
                0 4px 4px rgba(0, 0, 0, .02),
                0 8px 8px rgba(0, 0, 0, .04),
                0 16px 16px rgba(0, 0, 0, .08),
                0 32px 32px rgba(0, 0, 0, .16);
}

.shadow-round-100 {
    box-shadow: 0 2px 2px -5px rgba(0, 0, 0, .01),
                0 4px 4px -5px rgba(0, 0, 0, .02),
                0 8px 8px -5px rgba(0, 0, 0, .04),
                0 12px 12px -5px rgba(0, 0, 0, .08);
}
.shadow-round-200 {
    box-shadow: 0 2px 2px -5px rgba(0, 0, 0, .01),
                0 4px 4px -5px rgba(0, 0, 0, .02),
                0 8px 8px -5px rgba(0, 0, 0, .04),
                0 16px 16px -5px rgba(0, 0, 0, .08);
}
.shadow-round-300 {
    box-shadow: 0 2px 2px -10px rgba(0, 0, 0, .01),
                0 4px 4px -10px rgba(0, 0, 0, .02),
                0 8px 8px -10px rgba(0, 0, 0, .04),
                0 16px 16px -10px rgba(0, 0, 0, .08),
                0 32px 32px -10px rgba(0, 0, 0, .16);
}


/* borders */

.border-primary { border: 1px solid var(--primary); }
.border-secondary { border: 1px solid var(--secondary); }
.border-accent { border: 1px solid var(--accent); }

.border-top-primary { border-top: 1px solid var(--primary); }
.border-top-secondary { border-top: 1px solid var(--secondary); }
.border-top-accent { border-top: 1px solid var(--accent); }

.border-right-primary { border-right: 1px solid var(--primary); }
.border-right-secondary { border-right: 1px solid var(--secondary); }
.border-right-accent { border-right: 1px solid var(--accent); }

.border-bottom-primary { border-bottom: 1px solid var(--primary); }
.border-bottom-secondary { border-bottom: 1px solid var(--secondary); }
.border-bottom-accent { border-bottom: 1px solid var(--accent); }

.border-left-primary { border-left: 1px solid var(--primary); }
.border-left-secondary { border-left: 1px solid var(--secondary); }
.border-left-accent { border-left: 1px solid var(--accent); }


/* flex layout */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }

.align-center { align-items: center; }
.align-between { align-items: space-between; }

.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }


/* grid layout */

.grid { display: grid; }

.even-columns { grid-template-columns: repeat(auto-fit, minmax(15em, 1fr)); }


/* gaps */

.gap-1 { gap: 1rem; }
.gap-2 { gap: 1.333rem; }
.gap-3 { gap: 1.5rem; }
.gap-4 { gap: 1.666rem; }
.gap-5 { gap: 1.75rem; }
.gap-6 { gap: 2rem; }
.gap-7 { gap: 3rem; }
.gap-8 { gap: 4rem; }


/* margins */

.m-1 { margin: .333rem; }
.m-2 { margin: .5rem; }
.m-3 { margin: .666rem; }
.m-4 { margin: 1rem; }
.m-5 { margin: 1.333rem; }
.m-6 { margin: 1.5rem; }
.m-7 { margin: 1.666rem; }
.m-8 { margin: 1.75rem; }
.m-9 { margin: 2rem; }

.m-x-1 { margin: 0 .333rem; }
.m-x-2 { margin: 0 .5rem; }
.m-x-3 { margin: 0 .666rem; }
.m-x-4 { margin: 0 1rem; }
.m-x-5 { margin: 0 1.333rem; }
.m-x-6 { margin: 0 1.5rem; }
.m-x-7 { margin: 0 1.666rem; }
.m-x-8 { margin: 0 1.75rem; }
.m-x-9 { margin: 0 2rem; }

.m-y-1 { margin: .333rem; }
.m-y-2 { margin: .5rem; }
.m-y-3 { margin: .666rem; }
.m-y-4 { margin: 1rem; }
.m-y-5 { margin: 1.333rem; }
.m-y-6 { margin: 1.5rem; }
.m-y-7 { margin: 1.666rem; }
.m-y-8 { margin: 1.75rem; }
.m-y-9 { margin: 2rem; }

.mt-1 { margin-top: .333rem; }
.mt-2 { margin-top: .5rem; }
.mt-3 { margin-top: .666rem; }
.mt-4 { margin-top: 1rem; }
.mt-5 { margin-top: 1.333rem; }
.mt-6 { margin-top: 1.5rem; }
.mt-7 { margin-top: 1.666rem; }
.mt-8 { margin-top: 1.75rem; }
.mt-9 { margin-top: 2rem; }

.mr-1 { margin-right: .333rem; }
.mr-2 { margin-right: .5rem; }
.mr-3 { margin-right: .666rem; }
.mr-4 { margin-right: 1rem; }
.mr-5 { margin-right: 1.333rem; }
.mr-6 { margin-right: 1.5rem; }
.mr-7 { margin-right: 1.666rem; }
.mr-8 { margin-right: 1.75rem; }
.mr-9 { margin-right: 2rem; }

.mb-1 { margin-bottom: .333rem; }
.mb-2 { margin-bottom: .5rem; }
.mb-3 { margin-bottom: .666rem; }
.mb-4 { margin-bottom: 1rem; }
.mb-5 { margin-bottom: 1.333rem; }
.mb-6 { margin-bottom: 1.5rem; }
.mb-7 { margin-bottom: 1.666rem; }
.mb-8 { margin-bottom: 1.75rem; }
.mb-9 { margin-bottom: 2rem; }

.ml-1 { margin-left: .333rem; }
.ml-2 { margin-left: .5rem; }
.ml-3 { margin-left: .666rem; }
.ml-4 { margin-left: 1rem; }
.ml-5 { margin-left: 1.333rem; }
.ml-6 { margin-left: 1.5rem; }
.ml-7 { margin-left: 1.666rem; }
.ml-8 { margin-left: 1.75rem; }
.ml-9 { margin-left: 2rem; }


/* paddings */

.p-1 { padding: .333rem; }
.p-2 { padding: .5rem; }
.p-3 { padding: .666rem; }
.p-4 { padding: 1rem; }
.p-5 { padding: 1.333rem; }
.p-6 { padding: 1.5rem; }
.p-7 { padding: 1.666rem; }
.p-8 { padding: 1.75rem; }
.p-9 { padding: 2rem; }

.p-x-1 { padding: 0 .333rem; }
.p-x-2 { padding: 0 .5rem; }
.p-x-3 { padding: 0 .666rem; }
.p-x-4 { padding: 0 1rem; }
.p-x-5 { padding: 0 1.333rem; }
.p-x-6 { padding: 0 1.5rem; }
.p-x-7 { padding: 0 1.666rem; }
.p-x-8 { padding: 0 1.75rem; }
.p-x-9 { padding: 0 2rem; }

.p-y-1 { padding: .333rem 0; }
.p-y-2 { padding: .5rem 0; }
.p-y-3 { padding: .666rem 0; }
.p-y-4 { padding: 1rem 0; }
.p-y-5 { padding: 1.333rem 0; }
.p-y-6 { padding: 1.5rem 0; }
.p-y-7 { padding: 1.666rem 0; }
.p-y-8 { padding: 1.75rem 0; }
.p-y-9 { padding: 2rem 0; }

.pt-1 { padding-top: .333rem; }
.pt-2 { padding-top: .5rem; }
.pt-3 { padding-top: .666rem; }
.pt-4 { padding-top: 1rem; }
.pt-5 { padding-top: 1.333rem; }
.pt-6 { padding-top: 1.5rem; }
.pt-7 { padding-top: 1.666rem; }
.pt-8 { padding-top: 1.75rem; }
.pt-9 { padding-top: 2rem; }

.pr-1 { padding-right: .333rem; }
.pr-2 { padding-right: .5rem; }
.pr-3 { padding-right: .666rem; }
.pr-4 { padding-right: 1rem; }
.pr-5 { padding-right: 1.333rem; }
.pr-6 { padding-right: 1.5rem; }
.pr-7 { padding-right: 1.666rem; }
.pr-8 { padding-right: 1.75rem; }
.pr-9 { padding-right: 2rem; }

.pb-1 { padding-bottom: .333rem; }
.pb-2 { padding-bottom: .5rem; }
.pb-3 { padding-bottom: .666rem; }
.pb-4 { padding-bottom: 1rem; }
.pb-5 { padding-bottom: 1.333rem; }
.pb-6 { padding-bottom: 1.5rem; }
.pb-7 { padding-bottom: 1.666rem; }
.pb-8 { padding-bottom: 1.75rem; }
.pb-9 { padding-bottom: 2rem; }

.pl-1 { padding-left: .333rem; }
.pl-2 { padding-left: .5rem; }
.pl-3 { padding-left: .666rem; }
.pl-4 { padding-left: 1rem; }
.pl-5 { padding-left: 1.333rem; }
.pl-6 { padding-left: 1.5rem; }
.pl-7 { padding-left: 1.666rem; }
.pl-8 { padding-left: 1.75rem; }
.pl-9 { padding-left: 2rem; }

.global-padding { padding-inline: var(--global-padding); }


/* elemnets */

.header {
    display: flex;
}

.nav-primary ul {
    display: flex;
    flex-direction: row;
}

.nav-col ul {
    display: flex;
    flex-direction: column;
}

.nav-primary li,
.nav-col li {
    box-sizing: border-box;
}

.nav-primary li:hover,
.nav-col li:hover{
    border-bottom: 2px solid var(--accent);
}

.nav-primary li a,
.nav-col li a {
    color: var(--secondary);
    transition: color 200ms ease-in-out;
    cursor: pointer;
}

.section {
    max-width: calc(100vw - 2 * var(--global-padding));
    margin-inline: auto;
}

.card-300 {
    max-width: 300px;
    flex: 300px 1 1;
    aspect-ratio: 1 / 1.5;
}

.card-400 {
    max-width: 400px;
    flex: 400px 1 1;
    aspect-ratio: 1 / 1.1;
}

.card-300 img,
.card-400 img  {
    max-height: 200px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* background colors */

.bg-accent-lighter { background-color: var(--accent-lighter); }
.bg-accent { background-color: var(--accent); }
.bg-accent-darker { background-color: var(--accent-darker); }

.bg-primary-lighter { background-color: var(--primary-lighter); }
.bg-primary { background-color: var(--primary); }
.bg-primary-darker { background-color: var(--primary-darker); }

.bg-secondary-lighter { background-color: var(--secondary-lighter); }
.bg-secondary { background-color: var(--secondary); }
.bg-secondary-darker { background-color: var(--secondary-darker); }


/* font colors */

.txt-accent-lighter { color: var(--accent-lighter); }
.txt-accent { color: var(--accent); }
.txt-accent-darker { color: var(--accent-darker); }

.txt-primary-lighter { color: var(--primary-lighter); }
.txt-primary { color: var(--primary); }
.txt-primary-darker { color: var(--primary-darker); }

.txt-secondary-lighter { color: var(--secondary-lighter); }
.txt-secondary { color: var(--secondary); }
.txt-secondary-darker { color: var(--secondary-darker); }


/* Typography */
.fw-900 { font-weight: 900; }
.fw-800 { font-weight: 800; }
.fw-700 { font-weight: 700; }
.fw-600 { font-weight: 600; }
.fw-500 { font-weight: 500; }
.fw-400 { font-weight: 400; }
.fw-300 { font-weight: 300; }
.fw-200 { font-weight: 200; }
.fw-100 { font-weight: 100; }

.fs-1 { font-size: .333rem; }
.fs-2 { font-size: .6rem; }
.fs-3 { font-size: .666rem; }
.fs-4 { font-size: 1rem; }
.fs-5 { font-size: 1.333rem; }
.fs-6 { font-size: 1.5rem; }
.fs-7 { font-size: 1.666rem; }
.fs-8 { font-size: 1.75rem; }
.fs-9 { font-size: 2rem; }
.fs-10 { font-size: 3rem; }
.fs-11 { font-size: 4rem; }

.txt-center { text-align: center; }
.txt-left { text-align: left; }
.txt-right { text-align: right; }

