:root {
    --accent: rgb(110, 26, 189);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Calibri';
}

.button {
    --_animation-length: 700ms;
    position: relative;
    text-decoration: none;
    box-sizing: content-box;
    color: black;
    font-size: 32px;
    padding: .5em 2em;
    margin-top: 1em;
    background-color: #fff;
    color: var(--accent);
    border: 2px solid var(--accent);
    overflow: hidden;
}

.button span {
    position: relative;
    z-index: 100;
    transition: 400ms;
}

.button::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    background-color: var(--accent);
    transition: width var(--_animation-length), height var(--_animation-length);
    border-radius: 100%;
    transform: translateX(-50%) translateY(-50%);
}

.button:hover span{
    color: #eaeaea;
}

.button:hover:before {
    width: 600px;
    height: 600px;
    z-index: 10;
}